html {
    font-size: 13pt;
  }

@font-face{
  font-family: 'MPLUS';
  src: url('../fonts/mplus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MPLUS" ;
  }

footer{
  font-family: "Helvetica";
}
